<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Programas Asignados</title>
    <link rel="stylesheet" href="../../css/panel-operador.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>
    <section class="programas">
        <div class="titulo">
            <h1>Programas Producidos</h1>
            <p class="subtitulo">Revisa tus programas que produces</p>
        </div>

        <div class="tarjetas">
            <div class="tarjeta">
                <div class="header-tarjeta">
                    <h2>Mañanas en Vivo</h2>
                    <span class="rol">Productor</span>
                </div>
                <p class="descripcion">Programa matutino de noticias y entretenimiento</p>
                <div class="info">
                    <p> 08:00 - 10:00</p>
                    <p> Produccion</p>
                </div>
                <button class="btn">Ver Detalles →</button>
            </div>

            <div class="tarjeta">
                <div class="header-tarjeta">
                    <h2>Noche de Rock</h2>
                    <span class="rol">Productor</span>
                </div>
                <p class="descripcion">Los mejores clásicos del rock</p>
                <div class="info">
                    <p>🕒 22:00 - 00:00</p>
                    <p>🎧 Produccion </p>
                </div>
                <button class="btn">Ver Detalles →</button>
            </div>
        </div>
    </section>
</body>

</html>