* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f9fafc;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  color: #1e1e1e;
  padding: 40px 0;
}

.fx-section {
  width: 90%;
  max-width: 1000px;
}

h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

.subtitulo {
  color: #666;
  margin-top: 5px;
  margin-bottom: 25px;
}

.fx-container {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  padding: 25px;
}

.fx-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.fx-info h2 {
  font-size: 1.1rem;
  font-weight: 600;
}

.fx-info p {
  color: #666;
  font-size: 0.9rem;
}

/* .fx-buttons {
  display: flex;
  gap: 10px;
  background-color: #22c55e;
  width: 100%;
} */
 

.btn-primario {
  background-color: #7c3aed;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.btn-primario:hover {
  background-color: #6d28d9;
}

.btn-secundario {
  background-color: #ede9fe;
  color: #6d28d9;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.tabla-fx {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.tabla-fx thead {
  background-color: #f5f3ff;
}

.tabla-fx th {
  padding: 12px;
  color: #555;
  font-weight: 600;
  font-size: 0.9rem;
}

.tabla-fx td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  font-size: 0.9rem;
}

.tag {
  padding: 3px 8px;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
}

.tag-purple {
  background-color: #7c3aed;
}

.tag-red {
  background-color: #ef4444;
}

.tag-green {
  background-color: #22c55e;
}

.acciones {
  display: flex;
  gap: 8px;
}

.btn-icon {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.2s ease;
}

.btn-icon:hover {
  transform: scale(1.2);
}

.play {
  color: #7c3aed;
}

.edit {
  color: #6b7280;
}

.delete {
  color: #ef4444;
}
