* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.modal-content {
    background: rgb(230, 225, 239);
    padding: 25px;
    border-radius: 12px;
    width: 400px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
}

.modal-content h2{
    padding-bottom: 10px;
}

.modal-content label{
    padding-bottom: 8px;
    font-size: 17px;
}

.modal-content input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #562283;
    border-radius: 5px;
    font-size: 16px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn.primary {
    background: #4caf50;
    font-size: 17px;
}

.btn{
    padding: 10px;
    border-radius: 10px;
}

.btn.primary:hover {
    background: #3c9441;
}

.btn.cancelar{
    background-color: #050505;
    font-size: 17px;
    color: azure;
}

.hidden {
    display: none;
}

