:root {
    --fondo: #1a0826;
    --fondo-tarjeta: #2a0b3f;
    --violeta: #7b2cbf;
    --violeta-claro: #b892ff;
    --amarillo: #FFD166;
    --texto: #f3e8ff;
    --gris-suave: #b8a9c9;
    --sombra: rgba(100, 50, 150, 0.3);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f5f1ff;
    color: #333;
}

/* --- CONTENIDO --- */
.container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 10px;
}

h1 {
    font-size: 1.8rem;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #363636;
    font-size: 16px;
}

h3 {
    font-size: 17px;
}

.tabs {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    background-color: #2e1065;
    padding: 10px;
    border-radius: 8px;
}

.tab {
    border: none;
    background: #eee;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s, box-shadow 0.5s, transform 0.5s;
    font-weight: 500;
    flex: content;
    align-items: center;
}

.tab.active {
    background: #0c0614;
    color: #fff;
    font-weight: bold;
    transform: scale(1.05);
}

.tab:hover {
    background: #FFD166;
    color: #2e1065;
    box-shadow: 2px -1px 0px #f7f5ff;

}

.panel-section {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

/* --- TARJETAS --- */
.card {
    box-shadow: 0 8px 20px rgba(59, 31, 99, 0.3);

    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    padding: 20px;
    flex: 1;
    min-width: 320px;
    border: 2px solid #2e1065;
}

h2 {
    color: #2e1065;
    font-size: 1.4rem;
}

.form-card label {
    font-weight: 600;
}

.form-card input,
.form-card select,
textarea {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #2a0b3f;
    margin-bottom: 10px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}



/* Efecto de latido cuando el input está enfocado */
input:focus {
    border-color: #FFD166;
    box-shadow: 0 0 3px 1px #ffd166d6,
        0 0 5px 2px rgba(255, 233, 146, 0.664);
    transition: box-shadow 0.4s ease;
}


textarea {
    resize: none;
    height: 80px;

}

.btn-primary {
    background: var(--amarillo);
    color: #3b1f63;
    font-weight: 600;
    border: 2px solid var(--fondo);
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    transition: all .3s;
}

.btn-primary:hover {
    background: #3b1f63;
    color: var(--amarillo);
    transform: scale(1.05);
}

/* --- LISTAS --- */
.usuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #c1a6df;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f5f1ff;
}

.acciones {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    /*coloca el horario arriba de los botones */
    align-items: center;
    text-align: center;
    gap: 6px;
    width: auto;
}


.rol {
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: bold;
}

.operador {
    background: #ede9fe;
    color: #5b21b6;
}

.productor {
    background: #fee2e2;
    color: #dc2626;
}

.acciones .fa-solid {
    cursor: pointer;
    color: #7c3aed;
    font-size: 1.3rem;
    transition: 0.2s;
    padding: 3px;
    border-radius: 10px;
}

.acciones button {
    background: #333;
    border: 2px solid #000000;
    border-radius: 5px;
    transition: transform 0.6s;
    /* Animación suave para volver al estado normal */
}

.acciones button:hover {
    background: #c0a5ee;
    border: 2px solid #7c3aed;
    transform: scale(1.2);
    box-shadow: 0 0 6px #7c3aed;
    transition: transform 0.2s, border 0.2s, box-shadow 0.2s;
}


.acciones .fa-solid:hover {
    color: #d0c9d5;
}

.horario {
    background: #ede9fe;
    color: #5b21b6;
    font-size: 0.95rem;
    font-weight: bold;
    white-space: nowrap;
    /* Evita que el texto se divida en varias líneas */
    padding: 4px 12px;
    border-radius: 8px;
    margin-bottom: 6px;
    box-shadow: 0 1px 4px rgba(124, 58, 237, 0.08);

}

.horario:hover {
    background: #c0a5ee;
    color: #fff;
    box-shadow: 0 0 6px #7c3aed;
    transition: transform 0.2s, border 0.2s, box-shadow 0.2s;
}