* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f5f6fa;
    color: #333;
}



/* --- CONTENIDO --- */
.container {
    max-width: 1000px;
    margin: 40px auto;
}

h1 {
    font-size: 1.8rem;
}

p {
    color: #666;
}

.tabs {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    background-color: #2e1065;
    padding: 10px;
}

.tab {
    border: none;
    background: #eee;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 500;
    flex: content;
    align-items: center;
}

.tab.active {
    background: #7c3aed;
    color: #fff;
}

.tab:hover {
    background: #c4b5fd;
    color: #2e1065;
}

.panel-section {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

/* --- TARJETAS --- */
.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    padding: 20px;
    flex: 1;
    min-width: 320px;
}

.form-card input,
.form-card select,
textarea {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

textarea {
    resize: none;
    height: 80px;
}

.btn-primary {
    background: #7c3aed;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

.btn-primary:hover {
    background: #6b21a8;
}

/* --- LISTAS --- */
.usuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.acciones {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rol {
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: bold;
}

.operador {
    background: #ede9fe;
    color: #5b21b6;
}

.productor {
    background: #fee2e2;
    color: #dc2626;
}